<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
    <link rel="stylesheet" href="/css/pure.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/grids-responsive.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    Hello World!
  </body>
</html>
